.titulo {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(30deg, #414140, #ffdd55, #ffdd55, #ffffff );
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: auto;
    width: 100%;
}

nav {
    position: relative;
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-top: 40px;
}

.selected {
    background-color: #ffffff;
    color: white;
}

.result-visao {
    border: #000;
    border-radius: 5px;
    border-style: solid;
    width: 500px;
    height: 50px;
    text-align-last: center;
    align-content: center;
}

.m {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

h2 {
    text-align: center;
}

.imgTotal {
    width: 100%;
    height: 210px; /* Exemplo de altura fixa */
    object-fit: cover;
}

.imgTamanho {
    width: 400px; 
    height: 300px;
}

.Whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
}

.rodape {
    
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
    padding: 20px; /* Espaçamento interno */
    position: relative; /* Posição padrão */
    bottom: 0; /* Fixa o rodapé no final */
    width: 100%;
}
    
.rodape-conteudo {
    max-width: 1200px; /* Largura máxima */
    margin: auto; /* Centraliza o conteúdo */
}
    
.rodape a {
        
    color: #aaa; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado */
    margin: 0 10px; /* Espaçamento entre links */
}
    
.rodape a:hover {
    color: #fff; /* Cor ao passar o mouse */
}
    
.rodape p {
    margin: 10px 0; /* Espaçamento entre parágrafos */
    font-size: 0.9em; /* Tamanho do texto */
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Roboto&family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5f5;
}

h1 {
    display: flex;
    justify-content: center;

    margin: 5rem 0 5rem 0;

    font-family: Heebo;
    font-size: 40px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px;
    padding-bottom: 80px;
}

.card {
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 35px 40px;

    box-shadow: 6px 6px 10px rgb(0, 0, 0, 0.171);

    border-radius: 10%;
}

.card .user {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    margin-bottom: 15px;
}

.card h3 {
    font-family: Rubik;
    margin-bottom: 5px;
    font-size: 22px;
}

.star {
    width: 20px;
}

p {
    margin-top: 5px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
}

.backgroundsection {
    background-color: #505050;
    border-radius: 10px;
    padding: 20px;
}

.arrow-left{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    top: 20px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: #333;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* remove underline /
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); / remove o destaque ao clicar */
}

.arrow-left:hover{
    background-color: #333;
    transition: 0.3s;
}
  